# Compiled Python files
*.pyc

# Packaging files
/dist/
/build/
/eggs/
.egg-info/
/sdist/
/wheels/

# Django
/static/
.env
db.sqlite3
/media/

# macOS system files
.DS_Store

# Python virtual environments
venv/
.venv/

# IDE-specific files
.idea/
*.swp



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
COPY_OLD-intranet/node_modules/
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.aider*
