<!-- home_nav_dirs.html -->
<div class="container-1400px mb-32 text-center">
  <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
          <a href="{% url 'directory_main_view' 1 %}" class="nav-box">
              <h2 class="mb-3">History -></h2>
              <p>From pre-history to the modern day</p>
          </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
          <a href="{% url 'directory_main_view' 2 %}" class="nav-box">
              <h2 class="mb-3">Culture -></h2>
              <p>All about Scottish society, traditions, and the arts</p>
          </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
        <a href="{% url 'directory_main_view' 3 %}" class="nav-box">
            <h2 class="mb-3">Places -></h2>
            <p>Locations for visiting, or to imagine you were</p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
          <a href="{% url 'directory_main_view' 4 %}" class="nav-box">
              <h2 class="mb-3">Products -></h2>
              <p>Explore Scotland's rich manufacturing & crafts</p>
          </a>
      </div>
  </div>
</div>
